## Arrays Datastructure

In [ ]:
import numpy as np

In [ ]:
names = np.array(['Claire', 'Darrin', 'Sean', 'Brosina', 'Andrew', 'Irene', 'Harold', 'Pete', 'Alejandro', 'Zuschuss', 'Ken', 'Sandra', 'Emily', 'Eric','Tracy', 'Matt', 'Gene', 'Steve', 'Linda', 'Ruben', 'Erin', 'Odella', 'Patrick', 'Lena', 'Darren', 'Janet', 'Ted', 'Kunst', 'Paul', 'Brendan'])
ages = np.array([35, 26, 36, 44, 33, 33, 23, 22, 35, 53, 25, 41, 24, 31, 34, 43, 22, 29, 35, 25, 47, 22, 26, 52, 25, 25, 27, 24, 27, 30])
salary = np.array([ 88962,  67659, 117501, 149957,  32212,  63391,  14438,  22445, 72287, 195588,  17240, 115116,  18027,  55891, 109132,  83327, 22125,  29324,  54003,  18390, 141401,  19593,  57093, 130556, 22093,  13058,  26180,  23259,  34248,  27416])
designation = np.array(['Manager', 'Team Lead', 'Manager', 'Senior Manager', 'Team Lead', 'Team Lead', 'Developer', 'Developer', 'Team Lead', 'Managing Director', 'Developer', 'Manager', 'Developer','Team Lead', 'Manager', 'Manager', 'Developer', 'Team Lead','Team Lead', 'Developer', 'Senior Manager', 'Developer', 'Team Lead', 'Senior Manager', 'Developer', 'Developer','Team Lead', 'Developer', 'Team Lead', 'Team Lead'])

### Indexing and Slicing on arrays

In [ ]:
arr = np.random.randint(5, 50, 10)
arr

In [ ]:
arr[2]

In [ ]:
arr[-2]

In [ ]:
arr[0:3]

In [ ]:
arr[-5:]

In [ ]:
arr[[3, 1, 6]]

In [ ]:
arr = np.random.randint(5, 50, (4, 3))
arr

In [ ]:
arr[1, 2]

In [ ]:
arr[0:2, :] # first 2 rows

In [ ]:
arr[[1, 3], :] # Row index 1 and 3 and all columns

In [ ]:
arr[[1, 3]] # : for columns is not mandatory here

In [ ]:
arr[ :, 1:3] # : for rows is mandatory here

###### Extract the ages greater than 40

In [ ]:
ages[ages > 40] # Conditional Indexing

### Operations on Arrays

###### Extract names of the employees whose age greater than 40

In [ ]:
names[ages > 40]

###### Apply 7% hike on salary to all employes in the array

In [ ]:
salary * 1.07

###### Apply 7% hike to all employes whose age is greater_eq than 40 and 10% hike to employees whose age is less than 40

In [ ]:
np.where(ages >= 40, salary * 1.07, salary * 1.10)

###### Ex. Applying multiple conditions

In [ ]:
conditions = [ages < 35, ages < 45, ages >= 45]
results = [salary * 1.10, salary * 1.07, salary * 1.05]

np.select(conditions, results)

In [ ]:
marks = np.random.randint(20, 100,(2, 3)) # 2D array
marks

###### Ex. Assign grades to students based on marks

In [ ]:
marks = np.random.randint(20, 100, 15)
marks

In [ ]:
conditions = [marks >= 75, marks >= 60, marks > 40, marks < 40]
# grades = ["Grade A", "Grade B", "Grade C", "Grade D"]
grades = [1, 2, 3, 4]
np.select(conditions, grades)

In [ ]:
conditions = [marks >= 75, marks >= 60, marks > 40, marks < 40]
grades = ["Grade A", "Grade B", "Grade C", "Grade D"]
np.select(conditions, grades, default= "NA")

In [ ]:
conditions = [marks >= 75, marks >= 60, marks >= 40]
grades = ["Grade A", "Grade B", "Grade C"]
np.select(conditions, grades, default= "Grade D")

In [ ]:
help(np.select)

### Utility functions in NumPy Library

- np.all(), np.any()
- arr.sum()
- arr.min(), arr.max(), arr.argmin(), arr.agrmax()
- np.round()
- np.mean(), np.median(), np.average(), np.percentile()

In [ ]:
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])

###### Ex. Total Sales

In [ ]:
sales.sum()

In [ ]:
np.sum(sales)

###### Ex. Avg sales

In [ ]:
sales.mean()

###### Ex. Identify the products generating sales more than the average

In [ ]:
sales_p = products[sales >= sales.mean()]
sales_p

###### Ex. Identify the products generating profits more than the average

In [ ]:
profits_p = products[profits >= profits.mean()]
profits_p

###### Ex. Do all products that surpass their average sales also exceed their average profit? If not, identify the products that don’t.

In [ ]:
np.isin(sales_p, profits_p).all()

In [ ]:
np.any(np.isin(sales_p, profits_p))

In [ ]:
all([1, 2, 3, 4, 0]) # checks if all values are true

In [ ]:
any([1, 2, 3, 4, 0]) # checks if any one value is true

###### Ex. Manipulating the results to explore set function on arrays

In [ ]:
sales_p = np.append(sales_p, "Green Tea")  # np.append() is a function
sales_p

In [ ]:
profits_p = np.insert(profits_p, 2, "Filter Coffee")  # np.insert() is a function
profits_p

In [ ]:
profits_p = np.delete(profits_p, 6)  # np.delete() is a function to remove
profits_p

In [ ]:
np.isin(sales_p, profits_p)

###### Ex. Find elements in sales_p but not in profit_p

In [ ]:
np.setdiff1d(sales_p, profits_p)

###### Ex. Common elements

In [ ]:
np.intersect1d(sales_p, profits_p)

###### Ex. Identify the product with maximum Sales

In [ ]:
# Option 1
products[np.max(sales) == sales] # Conditional indexing

In [ ]:
np.argmax(sales) # returns index position of the max value

In [ ]:
# Option 2
products[np.argmax(sales)] # Indexing

In [ ]:
arr = np.array([2, 3, 5, 5 ])
names = np.array(["Jane", "George", "Rosie", "Sam"])
arr.max()

In [ ]:
arr.argmax()

In [ ]:
names[arr.argmax()]

In [ ]:
names[arr == np.max(arr)]

In [ ]:
arr = np.random.randint(1, 10, (3, 5))
arr

In [ ]:
np.insert(arr, 5, 1)

###### Flattening the array

In [ ]:
arr.flatten() # converted 2D array to 1D

In [ ]:
np.insert(arr, 1, [1, 2, 3], axis=1)

In [ ]:
np.insert(arr, 1, [1, 2, 3, 4, 5], axis=0)

<hr><hr>

## Basics of Data Visualisation using Matplotlib

In [ ]:
import numpy as np
import matplotlib.pyplot 
dates = np.arange('2019-01', '2022-01', dtype='datetime64[M]')
sales = np.array([42390, 77560, 77385, 76039, 42968, 53833, 47205, 68936, 51175, 48186, 71520, 66387, 62717, 52614, 42866, 64275, 44749, 68560,66258, 62221, 66303, 52428, 42300, 65645, 59215, 66944, 67519,46231, 79780, 59746, 59992, 70805, 64609, 72995, 60402, 76956])
profits = np.array([ 7206.3 ,  8531.6 , 13155.45,  9885.07,  7304.56,  9689.94, 5664.6 , 11029.76,  6141.  ,  5300.46,  9297.6 , 11285.79, 7526.04,  5787.54,  6429.9 , 12212.25,  5369.88, 12340.8 , 12589.02,  6222.1 ,  7293.33,  8388.48,  6768.  , 11816.1 , 7697.95, 11380.48,  7427.09,  6934.65,  8775.8 ,  7169.52, 7199.04,  9204.65, 10337.44,  9489.35, 10268.34, 14621.64])

#### Line Chart

In [ ]:
plt.figure(figsize=(10, 3))
plt.plot(dates, sales, color = "Teal", marker = "o")

plt.title("Sales over Months ", loc = "left", 
          fontdict= {'fontsize': 10, 'color': "Blue"})

y_tcks = np.arange((sales.min() - 1000), (sales.max() + 1000), 5000)

plt.xlabel("Months")
plt.ylabel("Sales")

plt.yticks(y_tcks)

plt.grid(axis="y", color = "orange", alpha = 0.4, ls = "--")

# Adding Annotations---
# for x, y in zip(dates, sales):
#     plt.annotate(f'{y}', xy=(x, y))

# Adding Annotations only for max value
plt.annotate(f"Max : {np.max(sales)}", xy = (dates[np.argmax(sales)], np.max(sales)))

plt.show()

In [ ]:
plt.figure(figsize=(10, 3))
plt.plot(dates, sales, color = "Teal", marker = "o")
plt.plot(dates, profits, color = "Cyan", marker = "o")
plt.title("Sales over Months ", loc = "left", fontdict= {'fontsize': 10, 'color': "Blue"})
plt.xlabel("Months")
plt.ylabel("Sales")
plt.grid(axis="y", color = "orange", alpha = 0.4, ls = "--")

plt.show()

In [ ]:
fig, ax = plt.subplots(nrows=2, figsize = (12, 4))
ax[0].plot(dates, sales, color = "Teal", marker = "o")
ax[1].plot(dates, profits, color = "Cyan", marker = "o")

ax[0].set_title("Sales", loc = "left")
ax[1].set_title("Profit", loc = "left")

ax[0].set_xticks([])

plt.show()

In [ ]:
products = np.array(['Caffe Latte', 'Cappuccino', 'Colombian', 'Darjeeling', 'Decaf Irish Cream', 'Earl Grey', 'Green Tea', 'Lemon', 'Mint', 'Regular Espresso'])
sales = np.array([52248.0, 14068.0, 71060.0, 60014.0, 69925.0, 27711.0, 19231.0, 24873.0, 32825.0, 44109.0])
profits = np.array([17444.0, 5041.0, 28390.0, 20459.0, 23432.0, 7691.0, -2954.0, 7159.0, 10722.0, 14902.0])

#### Bar Chart

In [ ]:
np.sort(sales)

In [ ]:
sort_ord = np.argsort(sales)[::-1]

In [ ]:
plt.figure(figsize=(10, 2))
plt.bar(products[sort_ord], sales[sort_ord], color = "teal", edgecolor = "black")
plt.title("Sales across Products", loc = "left",fontdict= {'fontsize': 10, 'color': "Blue"})
plt.xticks(rotation = 20, fontsize='x-small')
plt.yticks(fontsize='x-small')
plt.show()

In [ ]:
plt.figure(figsize=(10, 2))
plt.bar(products, sales, color = "teal", edgecolor = "black")
plt.bar(products, profits, color = "cyan", edgecolor = "black")
plt.title("Sales across Products", loc = "left",fontdict= {'fontsize': 10, 'color': "Blue"})
plt.xticks(rotation = 20, fontsize='x-small')
plt.yticks(fontsize='x-small')
plt.show()

In [ ]:
plt.figure(figsize=(10, 2))
plt.bar(products, sales, color = "teal", edgecolor = "black", width = -0.4, align="edge")
plt.bar(products, profits, color = "cyan", edgecolor = "black", width = 0.4, align="edge")
plt.title("Sales across Products", loc = "left",fontdict= {'fontsize': 10, 'color': "Blue"})
plt.xticks(rotation = 20, fontsize='x-small')
plt.yticks(fontsize='x-small')
plt.show()

<hr><hr>

## Data Manipulation using DataFrames

In [ ]:
!pip install sqlalchemy

###### Ex. Read data from employee.sqlite3

In [ ]:
from sqlalchemy import create_engine, text
conn = create_engine("sqlite:///employee.sqlite3")
conn

###### Ex. Read data from Employee table

In [ ]:
df = pd.read_sql("Employee", conn)  
df.head(2)

###### Ex. Filter all managers from the data and add to the database as new table

In [ ]:
df_1 = df[df.Designation == "Manager"]
df_1.to_sql("Managers", conn)

###### Ex. Read data from new Manager table

In [ ]:
df = pd.read_sql("Managers", conn)

###### Ex. Data Cleaning - remove index col

In [ ]:
df.drop(columns=["index"], inplace=True)
df.head()

### Indexing Columns

In [ ]:
df.head()  # first n rows n = 5 default

In [ ]:
df.tail()  # last n rows n = 5 default

In [ ]:
df.shape

In [ ]:
df.dtypes

###### Ex. Extraxt Salary col

In [ ]:
df.Salary

In [ ]:
df["Salary"]

###### Ex. Extract Name and Salary

In [ ]:
df[["Name", "Salary"]].head(2)

#### Filtering Data

###### Ex. Find avg salary of managers

In [ ]:
(df.Designation == "Manager").any()

In [ ]:
df[df.Designation == "Manager"]

In [ ]:
df[df.Designation == "Manager"].Salary.mean().round(2)

###### Ex. Are there any employee who age is more than 40 years?

In [ ]:
(df.Age >= 40).any()

###### Ex. How many employees have age > 40?

In [ ]:
(df.Age >= 40).sum()

###### Ex. Name the employees whoes age is > 40

In [ ]:
df[df.Age >= 40].Name  # Returns series object

In [ ]:
df[df.Age >= 40].Name.to_list()

###### Ex. Extract employees whoes age is in range of 25-45 and give the count

In [ ]:
(df.Age.between(25, 45)).sum()

In [ ]:
df[df.Age.between(25, 45)].shape[0]

In [ ]:
print(df[df.Age.between(25, 45)].Name.to_list())

###### Ex. Give names of employees who are Managers and Team Leaders

In [ ]:
df[df.Designation.isin(("Manager", "Team Lead"))].Name

###### Ex. Give list employees who are Managers but age is less than 40

In [ ]:
np.logical_and(df.Age < 40, df.Designation == "Manager").sum()

In [ ]:
df[np.logical_and(df.Age < 40, df.Designation == "Manager")].Name

### Data Cleaning

###### Ex. Read data from excel file

In [ ]:
pd.read_excel("coffee_sales.xlsx", sheet_name="Sheet1")  # just for reference

###### Ex. Read data from csv file

In [ ]:
df = pd.read_csv("coffee_sales.csv", header=3)
df.dropna(axis=1, how="all", inplace=True)
df.dropna(axis=0, how="all", inplace=True)
df.head()

In [ ]:
obj = str.maketrans("", "", "$,")
df["Sales"] = df["Sales"].str.translate(obj).astype(float)
df["Target Sales"] = df["Target Sales"].str.translate(obj).astype(float)
df["Profit"] = df["Profit"].str.translate(obj).astype(float)
df["Target Profit"] = df["Target Profit"].str.translate(obj).astype(float)

In [ ]:
df.head(2)